# Environment variables read in and made available to Cypress by
# https://github.com/morficus/cypress-dotenv
#
# Prefixing everything with `CYPRESS_` means that the env var will be made available in Cypress tests using `Cypress.env('HELLO')`

# Service details
# Note: the case of this env var is intended and must match this
baseUrl=http://localhost:3000

# Authentication details
CYPRESS_PASSWORD=password12345

# AWS S3 config and credentials
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
CYPRESS_S3_BUCKET=file-uploads-dev-sroc-service-gov-uk
CYPRESS_S3_PATH=import
